#main-background {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#plain-background {
  background-color: #fafdff;
}

.flex-container-titleNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

#title-background {
  position: absolute;
  left: 0%;
  right: 0%;
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5em;
    text-align: right;
    letter-spacing: 0.08em;
    margin-top: 50px;
    margin-right: 50px;
    color: #1e3645;

    flex-grow: 1;
}

.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: none;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    width: 100%;
  }

  .navlink > a {
    color: #1e3645;
    padding: 20px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 2.2em;
    text-decoration: none;
    opacity: 1;
  }
    
  .navlink > a:hover {
      transform: scale(1.1);
  }

  .text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    color: #1e3645;
    text-align: left;
    margin-left: 40px;

    flex-grow: 1;
  }

  #resume {
    padding-top: 20px;
    margin-bottom: 15px;
  }
