.flex-container-work {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 40px;
}

.img1-wrap {
	position: relative;
	overflow: hidden;
}

.image {
	width: 900px;
	height: 500px;
}

#image-case-study {
	width: 200px;
	height: 200px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #eeeeee;
	opacity: 0.9;
	overflow: hidden;
	transition: .7s ease;
}

.img1-wrap:hover .overlay {
	height: 100%;
}

.overlay-text {
	font-family: 'Courier New', Courier, monospace;
	color: #1e3645;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 23px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.tooltip {
	margin-top: 50px;
	margin-left: 375px;
}

a {
	text-decoration: none;
}

.tooltip-text {
	visibility: hidden;
	font-family: 'Courier New', Courier, monospace;
	background-color: #eeeeee;
	color: #1e3645;
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 23px;

	overflow: hidden;
	bottom: 100%;
  	margin-left: -350px;
	margin-top: 20px;
	padding: 75px;
	
	width: 700px;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}
